 <configuration>
        <system.webServer>
                    <rewrite>
                        <rules>
                             <rule name="index" stopProcessing="true">
                              <match url="^(.*)index.htm$" ignoreCase="false" />
                              <action type="Rewrite" url="{R:1}index.php" appendQueryString="true" />
                            </rule>
                            <rule name="jobs_list" stopProcessing="true">
                              <match url="^(.*)jobs/jobs-list-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*).htm$" ignoreCase="false" />
                              <action type="Rewrite" url="{R:1}jobs/jobs-list.php?category={R:2}&amp;subclass={R:3}&amp;district={R:4}&amp;sdistrict={R:5}&amp;settr={R:6}&amp;trade={R:7}&amp;wage={R:8}&amp;nature={R:9}&amp;scale={R:10}&amp;inforow={R:11}&amp;sort={R:12}&amp;key={R:13}&amp;page={R:14}" appendQueryString="true" />
                            </rule>
                      </rules>
                </rewrite>
        </system.webServer>
</configuration>

